/* Кастомные свойства */

:root {
  --basic-white: #FFFFFF;
  --basic-grey: #EEEEEE;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-black: #000000;
  --basic-dark-grey: #333333;
  --border-grey: #E5E5E5;
  --rating-background-grey: #F2F2F2;
  --rating-grey: #666666;
}

/* Общие */

.page {
  height: 100%;
}
.page-body{
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/*Хэдер*/
/* Навигация */

.main-navigation {
  display: grid;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-white);
  margin-left: 40px;
  margin-right: 40px;
}
.main-header-logo {
  z-index: 1;
  justify-self: center;
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation-wrapper {
  display: grid;
  width: 1200px;
}
.site-navigation-item {
  color: var(--basic-black);
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  line-height: 56px;
}
.site-navigation-item.non-active{
  color: var(--basic-brown);
}
/*Главная*/
/* Картинка на главной */
.container {
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
}
.welcome {
  display: grid;
  background-repeat: no-repeat;
  background-color: var(--basic-blue);
  text-align: center;
  background-color: var(--basic-white);
}

/*Список преимуществ*/
.features {
  background-color: var(--basic-white);
}
.features h3 {
  font-size: 21px;
  color: var(--basic-black);
  text-align: center;
}
.features p {
  text-align: center;
}
.features-cards-city {
  display: grid;
  grid-template-columns: 400px 800px;
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
}
.features-cards-city img{
  background-color: var(--basic-blue);
}
.features-cards-city h3 {
  font-size: 21px;
  line-height: 21px;
}
.features-cards-city-text {
  margin-top: 47px;
  margin-bottom: 54px;
}

.features-points {
  background-color: var(--basic-white);
  margin-top: 60px;
  margin-bottom: 82px;
}
.features-points-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-points-item {
  text-align: center;
}
.features-points-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}
.features-points-item p {
  color: var(--basic-dark-grey);
}
.features-cards-bridge {
  display: grid;
  grid-template-columns: 800px 400px;
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
}
.features-cards-bridge img{
  background-color: var(--basic-blue);
}
.features-cards-bridge h3 {
  font-size: 21px;
  line-height: 21px;
}
.features-cards-bridge-text {
  margin-top: 50px;
  margin-bottom: 51px;
}
.features-other {
  background-color: var(--basic-grey);
  margin-top: 0;
  padding-top: 47px;
  padding-bottom: 54px;
}
.features-other-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.features-other-item {
  text-align: center;
}
.features-other-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}
.features-other-item p {
  color: var(--basic-dark-grey);
}

.hotel-search {
  background-color: var(--basic-white);
}
.hotel-search h3 {
  font-size: 30px;
  color: var(--basic-black);
  text-align: center;
}
.hotel-search p {
  text-align: center;
}
.hotel-search-form {
  text-align: center;
}
.hotel-search-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

/*Футер*/

.page-footer {
  text-align: center;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 40px;
  margin-right: 40px;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}
.phone-number {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  padding-bottom: 36px;
}
.footer-social-buttons-back {
  text-align: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}
.footer-social-buttons {
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.footer-copyright-title {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

/*Внутренняя*/
/*Фильтр отелей*/

.search-hotels-filter {
  background-color: var(--basic-blue);
  width: 1200px;
}

/*Информация о поиске*/

.search {
  background-color: var(--basic-white);
  border-bottom: 1px solid var(--border-grey);
}
.search-info {
  font-size: 21px;
  line-height: 26px;
}
.search-sort {
  list-style: none;
}
.search-sort-item {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted var(--basic-blue);
  color: rgba(0, 0, 15, 0.3);
}
.search-sort-item.active {
  color: var(--basic-blue);
  border: 0;
}

/*Стрелки поиска
.pointer-arrow {
  width: 23px;
  text-align: center;
  color: #CACACA;
}
.pointer-arrow span {
  font-size: 23px;
  line-height: 23px;
}
.pointers .active {
  color: var(--basic-blue);
}
*/

/*Список отелей*/

.search-result {
  border-bottom: 1px solid var(--border-grey);
}
.search-result-cards h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}
.button-more {
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.button-booking {
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.search-grade {
  line-height: 26px;
  color: var(--rating-grey);
  background-color: var(--rating-background-grey);
}
.search-stars {
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: var(--basic-blue);
  background-color: var(--basic-white);
}
