/* Кастомные свойства */

:root {
  --basic-white: #FFFFFF;
  --basic-grey: #EEEEEE;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-black: #000000;
  --basic-dark-grey: #333333;
  --border-grey: #E5E5E5;
  --rating-background-grey: #F2F2F2;
  --rating-grey: #666666;
  --body-shadow: #34495e;
}

/* Общие */

.page {
  height: 100%;
}
.page-body{
  min-height: 100%;
  align-content: start;
  background-color: var(--basic-grey);
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}
a {
  text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/*Хэдер*/
/* Навигация */

.main-navigation {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-white);
}
.main-header-logo {
  position: absolute;
  top: 0;
	z-index: 1;
	order: 3;
	align-self: center;
}
.site-navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  color: var(--basic-black);
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  line-height: 56px;
}
.site-navigation-item:hover {
  color: var(--basic-blue);
}
.site-navigation-item:active {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation-item.active{
  color: var(--basic-brown);
}
/*Главная*/
/* Картинка на главной */
.container {
  align-content: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 0px 15px 0px var(--body-shadow);
}
.welcome {
  background-image: url("img/Desert Quail.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 508px;
  background-position: 100% 22%;
	background-repeat: no-repeat;
	background-size: 100%;
  text-align: center;
  background-color: #DC6243;
}
.welcome-words {
  margin-top: 76px;
	margin-bottom: 0;
	padding: 0;
  z-index: 1;
  align-self: center;
}

/*Список преимуществ*/

.features {
  padding-bottom: 0;
  display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 216px;
  background-color: var(--basic-white);
}
.features h3 {
  font-size: 21px;
  color: var(--basic-black);
  text-align: center;
}
.features p {
  text-align: center;
}
.features-cards-city {
  margin-top: 0;
  display: grid;
  grid-template-columns: 400px 800px;
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
}
.features-cards-city img{
  background-color: var(--basic-blue);
}
.features-cards-city h3 {
  font-size: 21px;
  line-height: 21px;
}
.features-cards-city-text {
  margin-top: 47px;
  margin-bottom: 54px;
}

.features-points {
  background-color: var(--basic-white);
  margin-top: 60px;
  margin-bottom: 82px;
}
.features-points-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-points-item {
  text-align: center;
}
.features-points-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}
.features-points-item p {
  color: var(--basic-dark-grey);
}
.features-cards-bridge {
  display: grid;
  grid-template-columns: 800px 400px;
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
}
.features-cards-bridge img{
  background-color: var(--basic-blue);
}
.features-cards-bridge h3 {
  font-size: 21px;
  line-height: 21px;
}
.features-cards-bridge-text {
  margin-top: 50px;
  margin-bottom: 51px;
}
.features-other {
  background-color: var(--basic-grey);
  margin-top: 0;
  padding-top: 47px;
  padding-bottom: 54px;
}
.features-other-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.features-other-item {
  text-align: center;
}
.features-other-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: var(--basic-black);
}
.features-other-item p {
  color: var(--basic-dark-grey);
}

.hotel-search {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  background-color: var(--basic-white);
}
.hotel-search h3 {
  font-size: 30px;
  color: var(--basic-black);
  text-align: center;
}
.hotel-search p {
  text-align: center;
}
.hotel-search-form {
  text-align: center;
}
.hotel-search-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

/*Футер*/

.page-footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.footer-container {
  max-height: 120px;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}
.phone-number {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  padding-bottom: 36px;
}
.phone-number a {
  text-decoration: none;
  color: var(--basic-black);
}
.footer-social {
  display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	width: 400px;
  padding-top: 36px;
	padding-left: 124px;
	padding-right: 124px;
}
.footer-social-buttons-back {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.footer-social-buttons {
  text-align: center;
  top: auto;
  width: 46px;
  height: 48px;
  text-decoration: none;
  align-self: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.footer-copyright-title {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

/*Внутренняя*/
/*Фильтр отелей*/

.search-hotels-filter {
  background-color: var(--basic-blue);
  width: 1200px;
}

/*Информация о поиске*/

.search-result {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: start;
}
.search-result-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.search {
  background-color: var(--basic-white);
  border-bottom: 1px solid var(--border-grey);
}
.search-info {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  font-size: 21px;
  line-height: 26px;
}
.search-sort {
  display: flex;
  align-content: space-around;
}
.search-sort-list {
  display: flex;
  align-content: space-between;
  list-style: none;
}
.search-sort-item {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted var(--basic-blue);
  color: rgba(0, 0, 0, 0.3);
}
.search-sort-item:hover {
  color: var(--basic-blue);
}
.search-sort-item:active {
  border: 0;
  color: var(--basic-black);
}
.search-sort-item.active {
  color: var(--basic-blue);
  border: 0;
}
.pointers {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

/*Список отелей*/

.search-result {
  border-bottom: 1px solid var(--border-grey);
}
.search-result-cards h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}
.button-more {
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.button-booking {
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}
.search-grade {
  line-height: 26px;
  color: var(--rating-grey);
  background-color: var(--rating-background-grey);
}
.search-stars {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  list-style: none;
  text-align: center;
  text-decoration: none;
  color: var(--basic-blue);
  background-color: var(--basic-white);
}
.search-result-cards h2:hover {
  color: var(--basic-blue);
}
.search-result-cards h2:active {
  color: rgba(0, 0, 0, 0.3);
}
